<!DOCTYPE html>

<html ng-app="exampleApp">
    <head>
        <title>Using the ng-class-odd and ng-class-even Directives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <script src="js/angular.js" type="text/javascript"></script>
        <script>
            angular.module("exampleApp", []).controller("defaultCtrl", function ($scope) {
                $scope.todos = [
                    {action: "Get Groceries", complete: false},
                    {action: "Call plumber", complete: false},
                    {action: "Buy shoes", complete: true},
                    {action: "Buy flowers", complete: false},
                    {action: "Call shuvo", complete: false}];
                $scope.buttonNames = ["Red", "Green", "Blue"];
                $scope.settings = {
                    Rows: "Red",
                    Columns: "Green"
                };
            });
        </script>
        <style>
            tr.Red {background-color: lightcoral}
            tr.Green {background-color: lightgreen}
            tr.Blue {background-color: lightblue}
        </style>
    </head>
    <body>
        <div id="todoPanel" class="panel" ng-controller="defaultCtrl">
            <h3 class="panel-heading">To Do List</h3>
            <div class="row well">
                <div class="col-xs-6" ng-repeat="(key, val) in settings">
                    <h4>{{key}}</h4>
                    <div class="radio" ng-repeat="button in buttonNames">
                        <label>
                            <input type="radio" ng-model="settings[key]" value="{{button}}">{{button}}
                        </label>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Complete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in todos" ng-class-even="settings.Rows" ng-class-odd="settings.Columns">
                        <td>{{$index + 1}}</td>
                        <td>{{item.action}}</td>
                        <td>{{item.complete}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>